---
layout: basic.njk
---
<style>
  article > p:first-of-type {
    margin-left: calc(40% - 30px);
    margin-right: 5%;
  }
  .rect1 {
    width: 40%;
    height: 100px;
    background-color: bisque;
    position: relative;
    left: calc(-5% - 30px);
  }
</style>
{{ content | safe }}