---
layout: basic.njk
---
<style>
  article > p:first-of-type {
    margin-left: calc(40% - 4rem);
    margin-right: 5%;
  }
  .rect1 {
    width: 60%;
    height: 60px;
    background-color: bisque;
    position: relative;
    left: calc(-5% - 4rem);
  }
</style>
{{ content | safe }}
